/* ABOUT PAGE */

img#about-page {
	background-color: white;
	display: flex;
}
div.about-page {
	background-color: white;
}
.recent-tech-list {
	display: flex;
	font-family: 'Roboto Mono', monospace;
	list-style: none;
	position: relative;
	margin: 0;
}
.both-tech-lists {
	display: flex;
	flex-direction: column;
}
#tech-list-1 {
	margin-left: 1rem;
	margin-right: 2.5rem;
}
.tech-li {
	position: relative;
}
.tech-li span {
	position: absolute;
	display: block;
	background-image: url(../icons/arrows/arrowhead.png);
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 0 .3em;
	text-indent: -1rem;
	left: -1rem;
	top: .25rem;
	height: 2.5rem;
	width: 2.5rem;
}
