#fleet-manager {
    background-image: url(../images/projects/fleet-manager.PNG);
    background-size: cover;
}
#covid-tracker {
    background-image: url(../images/projects/covid-tracker1.png);
    background-size: cover;
}
#weather-app1 {
    background-image: url(../images/projects/weather-app.PNG);
    background-size: cover;
}
#weather-app2 {
    background-image: url(../images/projects/weather-app-search.PNG);
    background-size: cover;
}
#sql-cms {
    background-image: url(../images/projects/sql-cms.png);
    background-size: cover;
}
#team-prof-gen {
    background-image: url(../images/projects/team-profile.PNG);
    background-size: cover;
}
#routing {
    background-image: url(../images/projects/routing.PNG);
    background-size: cover;
}
