/* FOOTER STYLE */

footer {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    padding-top: 40px;
    padding-bottom: 25px;
    justify-content: space-between;
    font-size: 8px;
    background-color: white;
    position: relative;
        top: 0;
}
.footer-wrapper-1 {
    position: relative;
    display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    width: 100%;
    height: 20em;
}

.footer-text,
a.footer-text {
    display: flex;
    padding: 7px;
    color: lightgray !important;
}
a.footer-text:hover,
.follow-link:hover {
    color: rgba(1, 194, 194, 0.37) !important;
}
