/*** HOME PAGE styling ***/

.home-page {
	color: white;
	background-color: var(--dark-dark);
	position: relative;
	/* top: 20vh; */
  }
  #hero-container {
	position: relative;
	height: max-content;
  }
  #hero-background-img {
	height: 15.25rem;
	position: relative;
	margin: 0;
  }
  #hero-headshot {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
  }

  /* Hero transition img */
  .header-mirror {
	background-image: url(../images/main/header-img-mirror.JPG);
	background-size: cover;
	height: 12vh;
	margin: 0;
	top: 0px;
	position: relative;
	z-index: 3;
  }

  /* HOME PAGE FEATURE styling */

  /* to blend background colors smoothly */
  #homepage-feature {
	background: linear-gradient( rgb(9,7,0) 25%, rgb(1, 1, 1) 95%);
	padding-top: 1.75rem;
	padding-bottom: 3rem;
	padding-right: 1.25rem;
	position: relative;
	bottom: 0.15rem;
	z-index: 2;
  }
  .homepage-text {
	display: flex;
	flex-direction: column;
  }
  p.homepage-text {
	padding: 0;

  }
  #greeting1 {
	color: var(--bright-blue);
	font-family: 'IBM Plex Mono', monospace;
	font-size: .925rem;
	font-weight: 500;
	position: relative;
	  bottom: 1.75rem;
	padding-top: 0.5rem;
  }
  #greeting-name {
	color: var(--lightest-grey);
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.95rem;
	line-height: 2.75rem;
	position: relative;
	bottom: .9rem;
  }
  #greeting-statement {
	color: var(--light-grey);
	font-weight: 700;
	font-size: 1.95rem;
	line-height: 2.15rem;
	position: relative;
	bottom: .875rem;
  }
  #greeting-blurb {
	color: var(--grey);
	position: relative;
	  top: .25rem;
	font-weight: 400;
	font-size: 0.85rem;
  }
  #greeting-blurb a{
	color: var(--bright-blue);
  }
  #greeting-blurb a:link{
	color: var(--bright-blue);
  }
  #greeting-blurb a:visited{
	color: var(--bright-blue);
  }
  #homepage-feature button a {
	color: var(--bright-blue);
	border: 1px solid var(--bright-blue);
	border-radius: 5px;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 0.75rem;
	padding: 0.75rem;
	position: relative;
	  top: 1rem;
  }
  #homepage-feature button a:hover {
	background-color: var(--dark-hover);
  }

  /* ----------- MEDIA QUERIES ----------- */
  /* ----------- iPhone 4 and 4S ----------- */

  /* Portrait and Landscape */
  @media only screen
	and (min-device-width: 320px)
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2) {

  /* -----------  ----------- */


  }

  /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

  /* Portrait and Landscape */
  @media only screen
	and (min-device-width: 320px)
	and (max-device-width: 568px)
	and (-webkit-min-device-pixel-ratio: 2) {

	  /* -----------  ----------- */


  }
