/* PORTFOLIO PAGE */
/* portfolio section project card headings */
h4 {
	color: rgb(121, 116, 255);
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	font-size: 2.25rem;
	margin: 0;
	padding-top: 0.5rem;
	width: 100%;
	word-wrap: break-word;
}
.portfolio-page {
	background-color: black;
	color: white;
	position: relative;
	height: max-content;
}
.portfolio-sec {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: max-content;
  }
.project-display {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0.5rem;
	border-top: 1px solid lightgray;
}
.project-display:last-child {
	padding-bottom: 1rem;
	border-bottom: 3px double lightgray;
}
ul.info-links {
	display: flex;
	justify-content: flex-start;
	align-items:flex-start;
	margin: 0;
	width: 75vw;
}
.proj-link {
	color: hotpink;
	width: max-content;
	height: max-content;
	border-radius: 5px;
	font-size: 0.75rem;
	font-weight: 300;
	margin: 0 0.5em 0 0.5em;
	text-decoration: underline;
}
.proj-link:link {
	color: hotpink;
}
.proj-link:visited {
	color: hotpink;
}
a.proj-link:hover {
	color: rgb(255, 169, 169);
	text-shadow: 0px 0.5px 0.25px #ffffff;
}


/* Tech button modal  */

/* overriding foundation css */
/* html.is-reveal-open {

} */
/* .reveal-overlay { */
	/* height: 20rem!important;
	width: 20rem!important; */
	/* margin: auto!important; */
/* } */
ul.info-links li {
	font-family: 'Rubik', sans-serif;
	list-style: none;
	font-weight: 700;
	position: relative;
	display: flex;
}
ul.info-links li a {
	position: relative;
}
ul.info-links li,
h6 {
	height: 1rem;
}
a.proj-link {
	font-size: 0.95rem;

}
