/* PORTFOLIO PAGE */

img#portfolio-page {
	position: relative;
	z-index: 2;
}
/* portfolio section project card headings */
h4 {
	color: var(--lightest-grey);
	font-family: 'Poppins', 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.85rem;
	margin: 0;
	padding-top: 0.5rem;
	width: 100%;
	word-wrap: break-word;
}
.portfolio-page {
	background-color: black;
	color: white;
	position: relative;
	height: max-content;
	bottom: .05rem;
}
.portfolio-sec {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: max-content;
  }
.project-display {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	border-top: 1px solid lightgray;
}
.project-display:last-child {
	padding-bottom: 1rem;
	border-bottom: 3px double lightgray;
}
ul.info-links {
	display: flex;
	justify-content: flex-start;
	align-items:flex-start;
	margin: 0;
	width: 75vw;
}
.proj-link {
	color: var(--light-grey);
	width: max-content;
	height: max-content;
	border-radius: 5px;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.75rem;
	font-weight: 300;
	margin-right: 0.75rem;
	/* text-decoration: underline; */
}
.proj-link:link {
	/* color: rgb(197, 202, 255); */
	color: var(--light-grey);
}
.proj-link:visited {
	color: var(--light-grey);
}
.proj-link:hover {
	color: var(--peach);
	/* text-shadow: 0px 0.5px 0.25px #ffffff; */
	text-decoration: underline;
}
.proj-link:focus {
	color: var(--peach);
	/* text-shadow: 0px 0.5px 0.25px #ffffff; */
	text-decoration: underline;
}

/* Tech button modal  */

/* overriding foundation css */
/* html.is-reveal-open {

} */
/* .reveal-overlay { */
	/* height: 20rem!important;
	width: 20rem!important; */
	/* margin: auto!important; */
/* } */
ul.info-links li {
	list-style: none;
	font-weight: 700;
	position: relative;
	display: flex;
}
ul.info-links li a {
	position: relative;
}
ul.info-links li,
h6 {
	height: 1rem;
}
a.proj-link {
	font-size: 0.95rem;
}
