/* GLOBAL */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* main section titles */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  font-weight: 700;
  letter-spacing: -0.06em;
  padding: 3em 0 0 0 1em;
}
/* about section sub-headings */
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
	background-color: rgba(187, 173, 181, 0.5);
	color: white;
	width: 90vw;
	text-align: center;
	margin: 0;
}
/* portfolio section project card headings */
h4 {
  color: black;
  background-color: rgba(216, 205, 205, 0.45);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  margin: auto;
  padding: 10px 0;
  width: 100%;
  word-wrap: break-word;
}
/* about & portfolio blurbs */
p {
  font-family: 'Montserrat', sans-serif;
  padding: 0.5em 2em 0 1em;
  font-size: 0.75rem;
}
footer {
  position: relative;
  top: -120px;
  background-image: url(../images/main/cloud-fade-white.JPG);
  background-size: cover;
  height: 50vw;
}

/* PAGE POSITIONING */
.about-page,
.portfolio-page,
.contact-page {
  padding-top: 3em;
}
/* padding for outer container for each main section */
.padding {
  padding: 0 10px 0 10px;
  margin: auto;
  border: none;
  box-shadow: none;
}
/* end global styling */



/* Navigation Bar Styling */

/* nav section container */
.nav-wrapper {
  height: 3rem;
}
/* nav items wrapper */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 2.75rem;
  max-height: 2.75rem;
  position: fixed;
  z-index: 2;
  padding: 0 !important;
}

div.nav-1 {
  /* display: flex;
  justify-content: flex-start;
  flex: 1 1 15%; */
  position: absolute;
  left: 0;
  margin: 0;
  height: 100%;
}
a.home-link {
  display: flex;
  width: 3rem;
  height: 100%;
  padding: 0.25rem 0.35rem;
  margin: 0 !important;
}

img.home-icon {
  height: 100%;
}
.nav-2 {
  display: flex;
  flex: 2 1 60%;
  justify-content: space-evenly;
  font-size: 0.75rem;
  margin: 0 2rem;
  width: 60vw;
}

a.navbar-links {
  padding: 0.5rem;
}

.nav2 li:hover,
.navbar-links:hover,
a.home-link:hover,
a#toggle-mobile-menu:hover {
  background-color: rgb(45, 45, 45);
}
a.navbar-links:link {
  color: white;
}
a.navbar-links:visited {
  color: white;
}
a.navbar-links
.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
}

/*** HOME PAGE styling ***/

.home-page,
.nav-sec {
  color: white;
}

/* img.home-icon {

} */


/* .home-icon {

} */
/* #hero-container {

} */
#hero-background-img {
  height: 35vh;
}
#hero-img-wrapper {
  position: absolute;
    top: 3rem;
  display: flex;
  justify-content: flex-end;
  z-index: 0;
  height: 35vh;
  /* border: 2px solid hotpink; */
}
#hero-headshot {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* border: 2px solid lime; */
}
#hero-text {
  z-index: 5;
  width: 95%;
  height: 90%;
  opacity: 0.85;
  position: relative;
  top: 1rem;
  /* border: 2px solid rgb(144, 0, 255); */
}

/* background-img use case */
.header-mirror {
  background-image: url(../images/main/header-img-mirror.JPG);
  background-size: cover;
  height: 12vh;
  margin: 0;
  position: static;
  top: 0px;
}
#homepage-feature {
  background: linear-gradient( rgb(9,7,0) 25%, black 95%);
}
.follow-menu {
  display: flex !important;
  justify-content: center;
  margin: auto;
  height: max-content;
}
/* ul.follow-menu {

} */
.menu>li>a>i, .menu>li>a>img {
  margin: 0 !important;
}
.menu>li>a>.follow-icon {
  display: flex !important;
    justify-content: center;
  height: 4rem;
  width: 4rem;
  margin: 1rem 0.5em !important;
}
.center-contact-icons {
  display: flex !important;
    justify-content: center;
  width: max-content;
  height: max-content;
  margin: auto;
}
#contact-button-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: max-content;
  position: relative;
}
.contact-option{
  border-radius: 5px;
  background-color: rgb(0, 166, 255);
  color: white;
  margin-bottom: 1em;
}
.contact-link {
  font-family: 'Montserrat', sans-serif;
  padding: 0.2em 0.5em;
  width: 12em;
  text-align: center;
}
a.contact-link:link {
  color: white;
}
a.contact-link:visited {
  color: white;
}
a.contact-link:hover {
  color: white;
  background-color: rgb(77, 193, 255);
  border-radius: 5px;
}
#extend {
  height: 10em;
  position: relative;
  top: 0;
}

/* ABOUT PAGE */
.about-page {
  background-color: white;
  color: black;
}
.thumbnail {
  display: flex;
  margin: auto;
}
/* .overlay {
  position: relative;
  bottom: 2rem;
  z-index: 0;
} */

/* PORTFOLIO PAGE */
.portfolio-page {
  background-color: black;
  color: white;
}
.portfolio-sec {
  position: relative;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* SKILLS PAGE */
.skills-page {
  color: black;
  background-color: white;
  height: max-content;
}
