/* CSS VARIABLES */
:root {
  --slate: rgb(93,109,124);
  --black: rgb(0,0,0);
  --gold: rgb(249,208,1);
  --peach: rgb(227,167,101);
  --lightest-grey: whitesmoke;
  --light-grey: rgb(171, 178, 182);
  --grey: rgb(135, 144, 150);
  --bright-blue: rgb(101, 222, 255);
  --black-hover: rgb(60, 60, 60);
}


/* GLOBAL */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* main section titles */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  font-weight: 700;
  letter-spacing: -0.06em;
  padding: 3em 0 0 0 1em;
}
/* about section sub-headings */
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
	background-color: rgba(187, 173, 181, 0.5);
	color: white;
	width: 90vw;
	text-align: center;
	margin: 0;
}

h6 {
  margin: 0;
  padding: 0;

}
/* about & portfolio blurbs */
p {
  font-family: 'Montserrat', sans-serif;
  padding: 0.5em 2em 0 1em;
  font-size: 0.75rem;
}
footer {
  position: relative;
  top: -120px;
  background-image: url(../images/main/cloud-fade-white.JPG);
  background-size: cover;
  height: 50vw;
}

/* PAGE POSITIONING */

/* padding for outer container for each main section */
.padding {
  padding: 1rem;
  margin: auto;
  border: none;
  box-shadow: none;
}
main {
  position: relative;
}

/* end global styling */

/*** HOME PAGE styling ***/

.home-page {
  color: white;
  background-color: black;
  position: relative;
  /* top: 20vh; */
}
#hero-container {
  position: relative;
  height: max-content;
}
#hero-background-img {
  height: 16rem;
  position: relative;
  margin: 0;
}
#hero-headshot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

/* Hero transition img */
.header-mirror {
  background-image: url(../images/main/header-img-mirror.JPG);
  background-size: cover;
  height: 12vh;
  margin: 0;
  top: 0px;
  position: relative;
  z-index: 5;
}

/* HOME PAGE FEATURE styling */

/* to blend background colors smoothly */
#homepage-feature {
  background: linear-gradient( rgb(9,7,0) 25%, black 95%);
}
.homepage-text {
  display: flex;
  flex-direction: column;
}
p.homepage-text {
  padding: 0;
}
#greeting1 {
  color: var(--bright-blue);
  font-family: 'IBM Plex Mono', monospace;
  position: relative;
    bottom: 1rem;
}
#greeting-name {
  color: var(--lightest-grey);
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 1.95rem;
  line-height: 2.3rem;
}
#greeting-statement {
  color: var(--light-grey);
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 1.85rem;
  line-height: 2.3rem;
}
#greeting-blurb {
  color: var(--grey);
  font-family: 'Rubik', sans-serif;
  position: relative;
    top: 1rem;
}
#greeting-blurb a{
  color: var(--bright-blue);
}
#greeting-blurb a:link{
  color: var(--bright-blue);
}
#greeting-blurb a:visited{
  color: var(--bright-blue);
}
#homepage-feature button a {
  color: var(--bright-blue);
  border: 1px solid var(--bright-blue);
  border-radius: 5px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75rem;
  padding: 0.75rem;
  position: relative;
    top: 2.75rem;
}
#homepage-feature button a:hover {
  background-color: var(--black-hover);
}
