/* CSS VARIABLES */
:root {
  --slate: rgb(93,109,124);
  --light-slate: rgb(197, 203, 255);
  --gold: rgb(249,208,1);
  --peach: rgb(255, 178, 96);
  --lightest-grey: whitesmoke;
  --light-grey: rgb(139, 145, 156);
  --grey: rgb(135, 144, 150);
  --bright-blue: rgb(73, 225, 255);
  --dark-hover: rgb(60, 60, 60);
  --dark-dark: rgb(15, 16, 20);
}


/* GLOBAL */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

/* main section titles */
h1 {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: -0.06em;
  padding: 3em 0 0 0 1em;
}
/* about section sub-headings */
h3 {
  font-weight: 500;
	background-color: rgba(187, 173, 181, 0.5);
	color: white;
	width: 90vw;
	text-align: center;
	margin: 0;
}

h6 {
  margin: 0;
  padding: 0;

}
/* about & portfolio blurbs */
p {
  padding: 0.5em 1.5em 0 0.15rem;
  font-size: .905rem;
}
img {
  margin: 0 !important;
  border: none !important;
}
footer {
  position: relative;
  top: -120px;
  background-image: url(../images/main/cloud-fade-white.JPG);
  background-size: cover;
  height: 50vw;
}

/* PAGE POSITIONING */
main {
  position: relative;
}
/* padding for outer container for each main section */
.padding {
  padding: 1.25rem;
  margin: 0;
  border: none;
  box-shadow: none;
}
.sec-position {
  position: relative;
  bottom: .05rem;
}
/* end global styling */

/*** HOME PAGE styling ***/

.home-page {
  color: white;
  background-color: var(--dark-dark);
  position: relative;
  /* top: 20vh; */
}
#hero-container {
  position: relative;
  height: max-content;
}
#hero-background-img {
  height: 15.25rem;
  position: relative;
  margin: 0;
}
#hero-headshot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* Hero transition img */
.header-mirror {
  background-image: url(../images/main/header-img-mirror.JPG);
  background-size: cover;
  height: 12vh;
  margin: 0;
  top: 0px;
  position: relative;
  z-index: 3;
}

/* HOME PAGE FEATURE styling */

/* to blend background colors smoothly */
#homepage-feature {
  background: linear-gradient( rgb(9,7,0) 25%, rgb(1, 1, 1) 95%);
  padding-top: 1.75rem;
  padding-bottom: 3rem;
  padding-right: 1.25rem;
  position: relative;
  bottom: 0.15rem;
  z-index: 2;
}
.homepage-text {
  display: flex;
  flex-direction: column;
}
p.homepage-text {
  padding: 0;
  
}
#greeting1 {
  color: var(--bright-blue);
  font-family: 'IBM Plex Mono', monospace;
  font-size: .925rem;
  font-weight: 500;
  position: relative;
    bottom: 1.75rem;
  padding-top: 0.5rem;
}
#greeting-name {
  color: var(--lightest-grey);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.95rem;
  line-height: 2.75rem;
  position: relative;
  bottom: .9rem;
}
#greeting-statement {
  color: var(--light-grey);
  font-weight: 700;
  font-size: 1.95rem;
  line-height: 2.15rem;
  position: relative;
  bottom: .875rem;
}
#greeting-blurb {
  color: var(--grey);
  position: relative;
    top: .25rem;
  font-weight: 400;
  font-size: 0.85rem;
}
#greeting-blurb a{
  color: var(--bright-blue);
}
#greeting-blurb a:link{
  color: var(--bright-blue);
}
#greeting-blurb a:visited{
  color: var(--bright-blue);
}
#homepage-feature button a {
  color: var(--bright-blue);
  border: 1px solid var(--bright-blue);
  border-radius: 5px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75rem;
  padding: 0.75rem;
  position: relative;
    top: 1rem;
}
#homepage-feature button a:hover {
  background-color: var(--dark-hover);
}
